*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #eeeeee;

}
img {
    margin-left: 700px;
}
h1{
    background-color: brown;
    font-family: 'Concert One', cursive;
    font-size: 40px;

}
p{
font-family: 'Concert One', cursive;
background-color: brown;
font-size: 23px;
}
